[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "collatz"]
	path = collatz
	url = https://github.com/skenvy/collatz
	subdir = R
